[data-color-mode*='dark'] .w-color-alpha {
	--alpha-pointer-background-color: #6a6a6a !important;
	--alpha-pointer-box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px !important;
}

.w-color-hue {
	height: 4rem !important;
}

.w-color-alpha-fill {
	background: #0000 !important;
}

.editing-view-port {
	display: none;
}

div.flex-1 > button {
  text-shadow: 0 0 1px #000d, 0 0 2px #0008, 0 0 3px #0003
}