body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: calc(65dvh / 1.26);
	height: 100dvh;
	margin: 0 auto;
}

.container > a {
	display: none;
}
